<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionStringName" value="comp" />
    <!--<add key="LogFolder" value="c:\Web\RCS_WTM_DocumentPrint\RCS_WTM_DocumentPrint\Log\"/>-->
    <add key="Debug" value="Y" />
    <add key="UseEncryption" value="N" />
    <!--<add key="UseExtendedVariables" value="Y"/>-->
    <!--SMS Section begin-->
    <add key="SMSUser" value="" />
    <add key="SMSPassword" value="" />
    <!--If SMSTestPhoneNo is filled with a value
    then the SMSes will be send to this number-->
    <add key="SMSTestPhoneNo" value="" />
    <!--If SMSLog value is set to Y
    then the SMS will be logged with Phone number,
    message and statuskode and status description.
    The logfile will be named as SMS+DATE.
    The log and can be found in the Log folder-->
    <add key="SMSLog" value="Y" />
    <add key="SMSNoOfDaysBefore" value="-4" />
    <add key="SMSUrl" value="" /> 
    <!--SMS Section end-->
    <!--Mail Setting section begin-->
    <add key="MailFromAddress" value="bogholderi@cnc-team.dk" />
    <add key="MailFromDispl" value="CNC-TEAM A/S" />
    <add key="SmtpClientHost" value="10.21.21.10" />
    <add key="SmtpClientPort" value="25" />
    <add key="smtpUserId" value="" />
    <add key="smtpPassword" value="" />
    <add key="smtpDomainName" value="" />
    <add key="attachementFolder" value="c:\inetpub\RCS_WTM_DocumentPrint\Attachments\" />
    <!--Mail Setting section end-->
    <!--WTM Settings-->
    <!--If wtmSettings = Y, Then set wtm settings in the definition file for each type of print-->
    <add key="wtmSettings" value="N" />
    <!--WTM Settings end-->
  </appSettings>
  <connectionStrings>
    <add name="comp" connectionString="Data Source=Server;Initial Catalog=CNCTeams_AS_20220705;User ID=sa;Password=sqlsap" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
    </httpHandlers>
    <pages />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
        <defaultDocument>
            <files>
                <add value="test.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Web" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
</configuration>